/* #form{
    background-color: black;
}
#h1{
    background-color: white;
    display: center;

}
#label{
    background-color: white;
    display: flex;
    justify-content: space-between;

}
#input{
    background-color: grey;
    display: flex;
    justify-content: space-between;

}
#button{
    background-color: turquoise;
    display: flex;
    justify-content: center; */
