.location-entry {
 margin-top: 1em;

}

.location-link {
 text-decoration: none;
 margin: 0 1em;
 color: white;
 font-size: 1.5em;
}

.location-link:hover,
.location-link:focus {
 color: rgb(128, 128, 248);
}

.MuiCardHeader-subheader {
 color: white;
 font-size: 1.5em;
}