.MuiAppBar-colorPrimary {
 background-color: black;
}

.nav-bar-contents {
 background-color: black;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding: 1em;
}
.logo-area {
 display: flex;
 flex-direction: row;
 align-content: center;
 align-items: center;
 justify-content: space-around;
 margin-left: 2em;
 text-shadow: 0 0 10px rgb(195 104 12);
}

.logo-icon {
 margin: 0 1em;
 height: 4em;
 width: 4em;
}

.nav-bar h1 {
 font-size: 2em;
}